## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [109]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [110]:
# Your code here
lista=[i for i in range(101)] 
sample_list_1=random.sample(lista,80)
print(sample_list_1)

[58, 4, 17, 100, 27, 90, 54, 0, 43, 37, 61, 30, 96, 45, 73, 21, 31, 39, 28, 33, 2, 70, 71, 29, 75, 52, 82, 19, 80, 53, 15, 26, 34, 11, 12, 69, 57, 50, 66, 23, 1, 87, 46, 16, 99, 74, 94, 20, 8, 18, 41, 79, 91, 76, 67, 86, 97, 89, 95, 14, 32, 72, 84, 48, 22, 59, 25, 64, 88, 83, 56, 6, 35, 85, 51, 10, 7, 5, 65, 13]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [111]:
# Your code here
set1=set(sample_list_1)
print(set1)
print('The lenght of the set1 is:',len(set1))
len(set1)==80

{0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 39, 41, 43, 45, 46, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 99, 100}
The lenght of the set1 is: 80

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [112]:
# Your code here
lista=[i for i in range(101)] 
sample_list_2=random.choices(lista,weights=None,k=80)
print(sample_list_2)

[23, 25, 82, 93, 11, 20, 70, 0, 20, 75, 80, 48, 77, 92, 41, 6, 84, 99, 48, 82, 40, 43, 0, 39, 97, 54, 17, 92, 50, 88, 91, 87, 81, 6, 59, 66, 93, 59, 78, 60, 65, 71, 66, 47, 11, 90, 14, 23, 51, 90, 78, 94, 84, 26, 97, 1, 100, 23, 10, 53, 28, 23, 88, 52, 67, 40, 88, 49, 69, 44, 32, 72, 71, 57, 88, 30, 90, 82, 74, 60]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [113]:
# Your code here
set2=set(sample_list_2)
print('The lenght of the set2 is:',len(set2))
len(set2)==80

The lenght of the set2 is: 55

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [114]:
# Your code here
set3=set1-set2
print(set3)

{2, 4, 5, 7, 8, 12, 13, 15, 16, 18, 19, 21, 22, 27, 29, 31, 33, 34, 35, 37, 45, 46, 56, 58, 61, 64, 73, 76, 79, 83, 85, 86, 89, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [115]:
# Your code here
set4=set2-set1
print(set4)

{40, 44, 77, 78, 47, 92, 49, 81, 60, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [116]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 1, 6, 10, 11, 14, 17, 20, 23, 25, 26, 28, 30, 32, 39, 41, 43, 48, 50, 51, 52, 53, 54, 57, 59, 65, 66, 67, 69, 70, 71, 72, 74, 75, 80, 82, 84, 87, 88, 90, 91, 94, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [117]:
# Your code here
print('The length of set1 is:',len(set1))
print('The length of set2 is:',len(set2))
print('The length of set3 is:',len(set3))
print('The length of set4 is:',len(set4))
print('The length of set5 is:',len(set5))
print('set1 is the union of set5 and set3')
print('set2 is the union of set5 and set4')
print(set1==set5.union(set3))
print(set2==set5.union(set4))

The length of set1 is: 80
The length of set2 is: 55
The length of set3 is: 35
The length of set4 is: 10
The length of set5 is: 45
set1 is the union of set5 and set3
set2 is the union of set5 and set4
True
True

#### Create an empty set called `set6`.

In [118]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [119]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [120]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [121]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [122]:
# Your code here
aggregate1=set3.union(set4)
aggregate2=set5.union(aggregate1)
aggregate3=set1.union(set2)
aggregate2==aggregate3

True

#### Using the `pop` method, remove the first element from `set1`.

In [123]:
# Your code here
print('When you try to use the pop method it appears an error message: pop takes no argument. In the set´s documentation for pop: Remove and return an arbitrary set element. So it is not possible to remove the first element wiht the pop method.')

When you try to use the pop method it appears an error message: pop takes no argument. In the set´s documentation for pop: Remove and return an arbitrary set element. So it is not possible to remove the first element wiht the pop method.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [124]:
# Your code here
list_to_remove=[1,9,11,19,21,29,31,39,41,49,51,59,61,69,71,79,81,89,91,99]
for x in list_to_remove:
    set1.discard(x)
            
print(set1)

{0, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 43, 45, 46, 48, 50, 52, 53, 54, 56, 57, 58, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 80, 82, 83, 84, 85, 86, 87, 88, 90, 94, 95, 96, 97, 100}